#one {
    color: aqua;
    position: relative;
}
#two {
    color: brown;
    position: sticky;
    top: +40px;

    
}
#three {
    color: blue;
    position: absolute;
    left: +30px;
}
p {
    margin: 100px;
}
span {
    color:red;
    font-size: 25px;
    font-style: italic bold;
}